{% extends "layout.html" %}

{% block body %}

  <div class="top-menu">

    <div class="container-fluid">
      <div class="row top-menu-height row-vertical-align-middle">

        <div class="col-xs-2 padding-0">
          <div class="padding-left-2">
            <a href="/" class="button">
              <img src="/themes/default/images/logo-insidernews-small-blue-default.png">
            </a>
          </div>
        </div>

        <div class="col-xs-10 padding-0">
          <div class="padding-right-2 text-align-right">
            <a href="#" class="button button-text">Login</a>
            <a href="#" class="button button-outline">Registre-se</a>
          </div>
        </div>

      </div>
    </div>

  </div>


  <div class="news-feed">

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 padding-0">

          <ul class="news-feed-list">
            {% for news in news %}
              <li class="news-feed-item">
                <a href="" class="news-feed-item-link {% if loop.first %} selected {% endif %}">
                  <div class="news-feed-xp">{{news.xp}}</div>
                  <div class="news-feed-title">{{news.title}}</div>
                  <div class="news-feed-last-comment">{{news.lastComment}}</div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div>


  <div class="news-detail">

    <div class="news-detail-head">

      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12 padding-0">

            <div class="news-detail-head-thumbnail" style="background-image: url(http://www.insidernews.com.br/bolsa-de-valores/noticias/warren-buffett-faz-doacao-para-apoiar-hillary-clinton/thumbnail.jpg);"></div>

            <h1 class="news-detail-head-title">
              Warren Buffett faz doação para apoiar Hillary Clinton
            </h1>

            <ul class="news-detail-head-informations">
              <li>
                <div>14 horas atrás</div>
              </li>
              <li>
                <a class="news-detail-head-source-link" href="http://exame.abril.com.br/negocios/noticias/warren-buffett-faz-doacao-para-apoiar-hillary-clinton">exame.abril.com.br</a>
              </li>
            </ul>

          </div>
        </div>

      </div>

    </div>

    <div class="chat-feed">

      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12 padding-0">

            <ul class="chat-feed-messages">
              {% for message in messages %}
                <li class="chat-feed-message">
                  <div class="chat-feed-message-username">{{message.userName}} {{message.createdAt}}</div>
                  <div class="chat-feed-message-content">{{message.content}}</div>
                </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
