{% extends 'layout.html' %}

{% block body %}

  <div class="container-fluid">

    <div class="row top-menu-row">
      <div class="col-xs-1">

      </div>

      <div class="col-xs-11">
        <div class="padding-top-1">
          <a href="#" class="button button-block float-right">Registre-se</a>
          <a href="#" class="button button-text float-right">Login</a>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-4">

        <div>Threads</div>
      </div>
      <div class="col-xs-8">
        <div>Open thread</div>
      </div>
    </div>

  </div>

{% endblock %}
