<div class="top-menu">

  <div class="container-fluid">
    <div class="row top-menu-height row-vertical-align-middle">

      <div class="col-xs-2 padding-0">
        <div class="padding-left-2">
          <a href="/" class="button">
            <img src="/themes/default/images/logo-insidernews-small-blue-default.png">
          </a>
        </div>
      </div>

      <div class="col-xs-10 padding-0">
        <div class="padding-right-2 text-align-right">
          <a href="#" class="button button-text">Login</a>
          <a href="#" class="button button-outline">Registre-se</a>
        </div>
      </div>

    </div>
  </div>

</div>
