{% extends "layout.html" %}

{% block body %}

  <div ui-view></div>

  <div class="news-feed hide-scroll">

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 padding-0">

          <ul class="news-feed-list">
            {% for news in news %}
              <li class="news-feed-item">
                <a href="" class="news-feed-item-link {% if loop.first %} selected {% endif %}">
                  <div class="news-feed-xp">{{news.xp}}</div>
                  <div class="news-feed-title">{{news.title}}</div>
                  <div class="news-feed-last-comment">{{news.lastComment}}</div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div>


  <div class="news-detail hide-scroll">

    <div class="news-detail-head">

      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12">

            <h1 class="news-detail-head-title">
              Warren Buffett faz doação para apoiar Hillary Clinton
            </h1>

            <ul class="news-detail-head-informations">
              <li>
                <div>14 horas atrás</div>
              </li>
              <li>
                <a class="news-detail-head-source-link" href="http://exame.abril.com.br/negocios/noticias/warren-buffett-faz-doacao-para-apoiar-hillary-clinton">exame.abril.com.br</a>
              </li>
            </ul>

          </div>


        </div>

      </div>

    </div>

    <div class="chat-feed margin-top-6 margin-bottom-5">

      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12 padding-0">

            <ul class="chat-feed-messages">
              {% for message in messages %}
                <li class="chat-feed-message">
                  <div class="chat-feed-message-username">{{message.userName}} {{message.createdAt}}</div>
                  <div class="chat-feed-message-content">{{message.content}}</div>
                </li>
              {% endfor %}
            </ul>

          </div>
        </div>

      </div>

    </div>

    <div class="chat-inputs">

      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-10 padding-0">
            <input type="text" class="input" placeholder="Escreva sua resposta aqui">
          </div>
          <div class="col-xs-2 padding-right-0">
            <input type="submit" href="#" value="Enviar" class="button button-outline display-block">
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
