<!DOCTYPE html>
<html ng-app="in.site">
  <head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/themes/default/styles/index.css" />
    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% block body %}
    {% endblock %}

    <script src="/themes/default/scripts/site.js"></script>
    <script src="/themes/default/scripts/site-templates.js"></script>
  </body>
</html>
