.button {
  color: @blue-default;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 27px;
  appearance: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
}

.button:hover {
  color: @blue-default;
  text-decoration: none;
}

.button-outline {
  border: 1px solid #007aff;
  background: @white;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0;
}

.button-outline:active,
.button-outline:focus
{
  background: @blue-default-alpha;
  text-decoration: none;
}


.button-text {
  padding: 0 10px;
  margin: 0;
}
