.button {
  color: @blue-default;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  appearance: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: @font-size-3;
  font-family: inherit;
  cursor: pointer;
  vertical-align: middle;
}

.button:hover {
  color: @blue-default;
  text-decoration: none;
}

.button-outline {
  border: 1px solid @blue-default;
  background-color: @white;
  border-radius: 5px;
  padding: @spacing-1 @spacing-2;
}

.button-outline:active,
.button-outline:focus
{
  background: @blue-default-alpha;
  text-decoration: none;
}


.button-text {
  padding: @spacing-1 @spacing-2;
  background-color: transparent;
  border: 0;
}
