.chat-feed-messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat-feed-message {
  padding: @spacing-4;
  border-bottom: 1px solid @gray-xlight;

}

.chat-feed-message-username {
  font-family: @font-roboto;
  font-weight: 300;
  font-size: @font-size-3;
  color: @gray-default;
}

.chat-feed-message-content {
  font-family: @font-roboto;
  font-weight: 300;
  color: @gray-dark;
  font-size: @font-size-4;
}
