@white: #fff;
@black: #000;

@blue-default: #007aff;
@blue-default-alpha: rgba(0,122,255,0.15);

@pink-default: #fa0075;


@gray-xxlight: #FDFDFD;
@gray-xlight: #F4F4F4;
@gray-light: #DBDBDB;
@gray-default: #B6B5BD;
@gray-dark: #66646F;


.text-color-gray-light {
  color: @gray-light;
}

.text-color-gray-default {
  color: @gray-default;
}
