a {
  color: @blue-default;
}

a:hover,
a:active {
  text-decoration: none;
}

.display-block {
  display: block !important;
  width: 100% !important;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
