a {
  color: @blue-light;
}

.display-block {
  display: block !important;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
