html,
body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}


a {
  color: @blue-default;
}

a:hover,
a:active {
  text-decoration: none;
}

.display-block {
  display: block !important;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
