@spacing-0: 0;
@spacing-1: 0.4rem;
@spacing-2: 0.9rem;
@spacing-3: 1.4rem;
@spacing-4: 3.2rem;
@spacing-5: 5.3rem;
@spacing-6: 7rem;

@font-size-1: 1rem;
@font-size-2: 1.1rem;
@font-size-3: 1.35rem;
@font-size-4: 1.6rem;
@font-size-5: 2.1rem;
@font-size-6: 3rem;

@top-menu-height: 5rem;
@news-feed-width: 40%;
@news-detail-width: 60%;
