@spacing1: 0.4rem;
@spacing2: 0.9rem;
@spacing3: 1.4rem;
@spacing4: 3.2rem;
@spacing5: 5.3rem;
@spacing6: 7rem;

@fontSize1: 1rem;
@fontSize2: 1.1rem;
@fontSize3: 1.25rem;
@fontSize4: 1.6rem;
@fontSize5: 2.1rem;

@topMenuHeight: 5rem;
@newsFeedWidth: 40%;
@newsDetailWidth: 60%;
