.news-detail {
  position: absolute;
  top: @top-menu-height;
  right: 0;
  bottom: 0;
  width: @news-detail-width;
  overflow: auto;
}

.news-detail-head {
  text-align: center;
  background: @white;
  position: fixed;
  z-index: 1;
  width: @news-detail-width;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
  padding: 0 @spacing-2 @spacing-2 @spacing-2;
}

.news-detail-head-thumbnail {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: cover;
}

.news-detail-head-title {
  font-family: @font-roboto;
  font-weight: 400;
  font-size: @font-size-6;
  color: @black;
  margin: 0;
  letter-spacing: -1px;
}

.news-detail-head-informations {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: @font-size-2;
}

.news-detail-head-informations > li {
  float: left;
  padding: 0 @spacing-1 0 @spacing-1;
}
