.news-feed-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.news-feed-item-link {
  padding: @spacing3 @spacing2;
  display: block;
}

.news-feed-xp {
  display:inline-block;
  font-size: @fontSize4;
  border: 1px solid @gray-dark;
  color: @gray-dark;
  border-radius: 5px;
  padding: 8px 0;
  width: 50px;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.news-feed-title {
  color: @gray-dark;
  font-size: @fontSize4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.news-feed-last-comment {
  color: @gray-default;
  font-size: @fontSize2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}


.news-feed-item-link:active,
.news-feed-item-link:focus,
.news-feed-item-link:hover {
  text-decoration: none;
}


.news-feed-item-link:hover .news-feed-xp {
  color: @blue-default;
  border: 1px solid @blue-default;
}

.news-feed-item-link:hover .news-feed-last-comment,
.news-feed-item:hover .news-feed-title {
  color: @blue-default;
}


.news-feed-item-link.selected {
  background: @gray-xlight;
}


.news-feed-item-link.selected .news-feed-xp {
  color: @blue-default;
  border: 1px solid @blue-default;
}


.news-feed-item-link.selected .news-feed-title,
.news-feed-item-link.selected .news-feed-last-comment {
  color: @blue-default;
}

