.news-feed-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.news-feed-item-link {
  padding-top: @spacing3;
  padding-bottom: @spacing3;
  display: block;
}

.news-feed-title {
  color: @gray-dark;
  font-size: @fontSize3;
}

.news-feed-item:hover .news-feed-title {
  color: @blue-default;
}

.news-feed-last-comment {
  color: @gray-default;
  font-size: @fontSize2;
}
