.news-detail {
  position: absolute;
  top: @top-menu-height;
  right: 0;
  bottom: 0;
  width: @news-detail-width;
  overflow: auto;
}

.news-detail-head {
  text-align: center;
}

.news-detail-head-thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  background-size: cover;
}

.news-detail-head-title {
  text-align: center;
  font-family: @font-roboto;
  font-weight: 400;
  font-size: @font-size-6;
  color: @black;
  margin: 0;
  padding: @spacing-2;
  letter-spacing: -1px;

}

.news-detail-head-informations {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.news-detail-head-informations > li {
  float: left;
  padding: 0 @spacing-1 0 @spacing-1;
}
