<form ng-submit="newsUpdate.submit()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-7 padding-left-2 padding-right-0">

          <input ng-model="newsUpdate.news.data.xp" type="text" class="input">
          <input ng-model="newsUpdate.news.data.title" ng-change="newsUpdate.news.updateSlug()" type="text" class="input">
          <input ng-model="newsUpdate.news.data.slug" type="text" class="input">

          <input type="submit" value="Enviar" class="button button-outline">

      </div>

    </div>
  </div>
</form>
